@model Dummy_BC_Diagnos_MVC_2.Models.CronusAustraliaPtyLtdSalesHeader437dbf0e84ff417a965dEd2bb9650972

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    @*<h4>CronusAustraliaPtyLtdSalesHeader437dbf0e84ff417a965dEd2bb9650972</h4>*@
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timestamp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timestamp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SellToCustomerNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SellToCustomerNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillToCustomerNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillToCustomerNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillToName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillToName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillToName2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillToName2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillToAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillToAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillToAddress2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillToAddress2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillToCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillToCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillToContact)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillToContact)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YourReference)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YourReference)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShipToCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShipToCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShipToName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShipToName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShipToName2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShipToName2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShipToAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShipToAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShipToAddress2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShipToAddress2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShipToCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShipToCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShipToContact)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShipToContact)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostingDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostingDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShipmentDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShipmentDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostingDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostingDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentTermsCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentTermsCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DueDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DueDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentDiscount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentDiscount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PmtDiscountDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PmtDiscountDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShipmentMethodCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShipmentMethodCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocationCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocationCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShortcutDimension1Code)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShortcutDimension1Code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShortcutDimension2Code)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShortcutDimension2Code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerPostingGroup)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerPostingGroup)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrencyCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrencyCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrencyFactor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrencyFactor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerPriceGroup)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerPriceGroup)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PricesIncludingVat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PricesIncludingVat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InvoiceDiscCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InvoiceDiscCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerDiscGroup)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerDiscGroup)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LanguageCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LanguageCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SalespersonCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SalespersonCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderClass)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderClass)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoPrinted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoPrinted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OnHold)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OnHold)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AppliesToDocType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AppliesToDocType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AppliesToDocNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AppliesToDocNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BalAccountNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BalAccountNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ship)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ship)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Invoice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrintPostedDocuments)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrintPostedDocuments)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShippingNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShippingNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostingNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostingNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastShippingNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastShippingNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastPostingNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastPostingNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrepaymentNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrepaymentNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastPrepaymentNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastPrepaymentNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrepmtCrMemoNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrepmtCrMemoNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastPrepmtCrMemoNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastPrepmtCrMemoNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VatRegistrationNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VatRegistrationNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CombineShipments)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CombineShipments)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReasonCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReasonCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GenBusPostingGroup)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GenBusPostingGroup)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Eu3PartyTrade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Eu3PartyTrade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransactionType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransportMethod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransportMethod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VatCountryRegionCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VatCountryRegionCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SellToCustomerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SellToCustomerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SellToCustomerName2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SellToCustomerName2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SellToAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SellToAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SellToAddress2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SellToAddress2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SellToCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SellToCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SellToContact)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SellToContact)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillToPostCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillToPostCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillToCounty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillToCounty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillToCountryRegionCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillToCountryRegionCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SellToPostCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SellToPostCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SellToCounty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SellToCounty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SellToCountryRegionCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SellToCountryRegionCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShipToPostCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShipToPostCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShipToCounty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShipToCounty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShipToCountryRegionCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShipToCountryRegionCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BalAccountType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BalAccountType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExitPoint)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExitPoint)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Correction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Correction)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DocumentDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DocumentDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExternalDocumentNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExternalDocumentNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Area)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Area)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionSpecification)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransactionSpecification)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentMethodCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentMethodCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShippingAgentCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShippingAgentCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PackageTrackingNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PackageTrackingNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoSeries)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoSeries)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostingNoSeries)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostingNoSeries)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShippingNoSeries)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShippingNoSeries)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaxAreaCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaxAreaCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaxLiable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaxLiable)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VatBusPostingGroup)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VatBusPostingGroup)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reserve)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reserve)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AppliesToId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AppliesToId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VatBaseDiscount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VatBaseDiscount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InvoiceDiscountCalculation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InvoiceDiscountCalculation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InvoiceDiscountValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InvoiceDiscountValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SendIcDocument)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SendIcDocument)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IcStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IcStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SellToIcPartnerCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SellToIcPartnerCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillToIcPartnerCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillToIcPartnerCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IcDirection)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IcDirection)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prepayment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prepayment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrepaymentNoSeries)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrepaymentNoSeries)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompressPrepayment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompressPrepayment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrepaymentDueDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrepaymentDueDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrepmtCrMemoNoSeries)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrepmtCrMemoNoSeries)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrepmtPostingDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrepmtPostingDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrepmtPmtDiscountDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrepmtPmtDiscountDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrepmtPaymentTermsCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrepmtPaymentTermsCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrepmtPaymentDiscount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrepmtPaymentDiscount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuoteNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuoteNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuoteValidUntilDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuoteValidUntilDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuoteSentToCustomer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuoteSentToCustomer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuoteAccepted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuoteAccepted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuoteAcceptedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuoteAcceptedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobQueueStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobQueueStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobQueueEntryId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobQueueEntryId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyBankAccountCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyBankAccountCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IncomingDocumentEntryNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IncomingDocumentEntryNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsTest)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsTest)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SellToPhoneNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SellToPhoneNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SellToEMail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SellToEMail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentInstructionsId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentInstructionsId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JournalTemplName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JournalTemplName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DimensionSetId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DimensionSetId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentServiceSetId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentServiceSetId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DirectDebitMandateId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DirectDebitMandateId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DocNoOccurrence)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DocNoOccurrence)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CampaignNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CampaignNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SellToCustomerTemplateCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SellToCustomerTemplateCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SellToContactNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SellToContactNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillToContactNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillToContactNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillToCustomerTemplateCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillToCustomerTemplateCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OpportunityNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OpportunityNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SellToCustomerTemplCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SellToCustomerTemplCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillToCustomerTemplCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillToCustomerTemplCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResponsibilityCenter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResponsibilityCenter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShippingAdvice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShippingAdvice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostingFromWhseRef)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostingFromWhseRef)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequestedDeliveryDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequestedDeliveryDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PromisedDeliveryDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PromisedDeliveryDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShippingTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShippingTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OutboundWhseHandlingTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OutboundWhseHandlingTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShippingAgentServiceCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShippingAgentServiceCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Receive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Receive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReturnReceiptNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReturnReceiptNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReturnReceiptNoSeries)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReturnReceiptNoSeries)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastReturnReceiptNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastReturnReceiptNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PriceCalculationMethod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PriceCalculationMethod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AllowLineDisc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AllowLineDisc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GetShipmentUsed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GetShipmentUsed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssignedUserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssignedUserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adjustment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adjustment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BasAdjustment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BasAdjustment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdjustmentAppliesTo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdjustmentAppliesTo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WhtBusinessPostingGroup)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WhtBusinessPostingGroup)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WhtAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WhtAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaxDocumentType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaxDocumentType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrintedTaxDocument)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrintedTaxDocument)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostedTaxDocument)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostedTaxDocument)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaxDocumentMarked)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaxDocumentMarked)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SystemId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SystemId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SystemCreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SystemCreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SystemCreatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SystemCreatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SystemModifiedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SystemModifiedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SystemModifiedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SystemModifiedBy)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
