@model Dummy_BC_Diagnos_MVC_2.Models.CronusAustraliaPtyLtdItemPic47466c52Add14a8cA9ccDaa9c554098d

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    @*<h4>CronusAustraliaPtyLtdItemPic47466c52Add14a8cA9ccDaa9c554098d</h4>*@
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timestamp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timestamp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Picture)
        </dt>
        <dd class = "col-sm-10">
            <img class="img-responsive" width="120" src="data:image/jpeg;base64,@Convert.ToBase64String(@Model.Picture)" />
        </dd>
       @* <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Picture)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SystemId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SystemId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SystemCreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SystemCreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SystemCreatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SystemCreatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SystemModifiedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SystemModifiedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SystemModifiedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SystemModifiedBy)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.No">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
